/* line 14, ../sass/input-placeholder.sass */
.placeholders, input, textarea {
  color: red;
  color: red;
  color: red;
}

/* line 20, ../sass/input-placeholder.sass */
.something {
  color: red;
  color: red;
  color: red;
}
